.wrapper {
  width: 100%;
  margin: 20em auto 10em;
}

.about__inner {
  width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  gap: 10em;
}

.about__banner {
  width: 40%;
  position: relative;
  margin-left: -5em;
}

.main__img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 3;
  margin-left: 4em;
  height: 598px;
  border-radius: 12px;
}

.absolute__ctn {
  position: absolute;
  top: -70px;
}

.absolute__first {
  top: 0px;
  position: relative;
  left: 50%;
  height: 753px;
  width: auto;
  object-fit: contain;
}

.absolute__first {
  z-index: 3;
}

.about__content {
  width: 30%;
}

.about__content h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.about__content header {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.about__content h1 {
  font-weight: 700;
  font-size: 36px;
  color: #01a453;
  margin: 0;
}

.about__content p {
  font-weight: 600;
  font-size: 16px;
  text-align: justify;
  color: #242424;
}

.stats__ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #333333;
}

.stats p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.learn__more {
  display: flex;
  align-items: center;
  position: relative;
}

.learn__more img {
  width: 70%;
  position: absolute;
  left: -60%;
  top: 0;
  z-index: 6;
}

.texts {
  width: 60%;
  margin: 5em auto 0;
  text-align: center;
}

.texts p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #242424;
  text-align: justify;
  width: 100%;
}

.texts button {
  padding: 20px 32px;
  width: 158px;
  height: 60px;
  border: none;
  background: #017d3f;
  border-radius: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #f5f5f5;
}
